.editor__style--default {
  font-family: $font-secondary;
  font-size: 14px;
  text-align: justify;
  line-height: 20px;
  p,li {
    margin: 1em 0;
  }
  ul {
    margin: 1em 0;
    list-style-type: disc;
    list-style: disc;
    padding-left: 40px;
  }
  strong {
    color: $orange;
  }
}

.single-article {
  &__header {}
  &__main {
    padding: 0 1.25em;
  }
  &__figure {
    height: 203px;
  }
  &__title {
    font-size: 1.3125em;
    font-weight: 700;
    color: $blue-dark;
    line-height: 1.5625rem;
    text-align: center;
    text-transform: uppercase;
    margin: 1.875rem auto 1.25rem auto;
  }
  &__excerpt {
    font-style: italic;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.3125rem;
    text-align: center;
    margin-bottom: 0.4375rem; /* 7px */
  }
  &__time-read {
    display: block;
    font-weight: 300;
    font-size: 0.625em;
    line-height: 0.75rem;
    text-align: center;
  }
  &__content {
    margin: 2rem 0 3rem 0;
  }
}