
.header.active {
  &:after {
    content: '';
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 50%);
    position: absolute;
    top: 0;
    left: 0;
  }
}
.header {
  position: sticky;
  top: 0;
  background-color: $blue-dark;
  padding: 12px 18px;
  border-bottom: 3px solid $orange;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 128px;
    height: auto;
  }
  &__menu {
    position: fixed;
    top: 0;
    right: -50rem;
    width: 80%;
    height: 100vh;
    padding: 0.675rem 0 0 2rem;
    background-color: #1A4A71;
    z-index: 1;
    border-right: 9px solid #FF6746;
    border-radius: 1rem 0px 0px 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    &:after {
      content: '';
      display: block;
      width: 9px;
      height: 100vh;
      box-shadow: 0 0 4px 1px #ff6746;
      position: absolute;
      top: 0;
      right: -9px;
    }
    &_nav {
      position: relative;
      margin: 6.25rem 0 2.625rem 0;
    }
    &_item {
      position: relative;
      margin: 1.25rem 0;
    }
    &_link {
      font: 700 26px $font-primary;
      color: $white;
      line-height: 40px;
    }
    &_link[aria-current="page"] {
      &:before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 80%;
        background: $orange;
        position: absolute;
        left: -2rem;
        top: 3px;
      }
    }
  }
  &__menu.active {
    right: 0;
  }
  &__submenu {
    &_items {
      margin: 15px 0 15px 1.25rem;
    }
    &_item {
      margin: 1.25rem 0;
    }
    &_link {
      font: 400 13px $font-primary;
      color: $white;
      line-height: 1.25rem;
    }
  }
}


.burguer__container {
  position: fixed;
  top: 8px;
  right: 20px;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
  span {
    display: block;
    height: 4px;
    background-color: $orange;
    box-shadow: 0px 0px 4px 1px #FF6746;
    border-radius: 5px;
    margin: 6px 0 0 auto;
    &:first-of-type {
      width: 12px;
    }
    &:nth-of-type(2){
      width: 18px;
    }
    &:last-of-type {
      width: 24px;
    }
  }
}
.burguer__container.active {
  position: initial;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  span {
    margin: 6px auto 0 0;
  }
}
