@import "./partials/base";
@import "./modules/modules";
@import "./components/components";

body.hidden {
  overflow: hidden;
}
.section__posts {
  margin-top: 3.5em;
  .section__title {
    margin-bottom: 4em;
  }
}
.posts {
  &__item {
    padding: 0 2.125em;
    margin-bottom: 1.625em;
  }
  &__figure {
    margin-bottom: 1.125em;
  }
  &__image {
    border-radius: 0.625rem;
  }
  &__title {
    font: 600 0.875em $font-primary;
    color: $blue-dark;
    text-align: center;
    line-height: 21px;
    margin-bottom: 0.4375rem;
  }
  &__excerpt {
    font: 300 0.6875em $font-primary;
    color: $black;
    text-align: center;
    line-height: 16px;
  }
}

.single-article {
  &__main {
    padding: 0 1.25em;
  }
  &__figure {
    height: 203px;
  }
  &__title {
    font-size: 1.3125em;
    font-weight: 700;
    color: $blue-dark;
    line-height: 1.5625rem;
    text-align: center;
    text-transform: uppercase;
    margin: 1.875rem auto 1.25rem auto;
  }
  &__excerpt {
    font-style: italic;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.3125rem;
    text-align: center;
    margin-bottom: 0.4375rem; /* 7px */
  }
  &__time-read {
    display: block;
    font-weight: 300;
    font-size: 0.625em;
    line-height: 0.75rem;
    text-align: center;
  }
  &__content {
    margin: 2rem 0 3rem 0;
  }
}
.more-articles {
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 1.25em;
    margin-top: 2.5em;
  }
  &__item {
    max-width: 150px;
  }
  &__figure {
    width: 150px;
    height: 95px;
    border-radius: 11px;
  }
  &__title {
    font: 500 0.875em $font-secondary;
    text-align: center;
    line-height: 1rem;
    color: $blue-dark;
    margin: 1.25rem 0 0.75rem 0;
  }
  &__excerpt {
    font: 300 0.6875em $font-secondary;
    line-height: 13px;
    text-align: center;
    color: $black;
  }
}
